{
    "protocol": "http",
    "host": "localhost",
    "port": "5984",
    "username": "root",
    "password": "password",
    "site_code": "KCH",
    "mirth_host":"http://localhost:3016/create_order/",
    "mirth_username": "admin",
    "mirth_password": "admin"
}
