{
    "protocol": "http",
    "host": "xxx.xxx.xxx.xxx",
    "port": "xxxxx",
    "username": "xxxxxx",
    "password": "xxxxxx",
    "site_code": "xxx",
    "mirth_host": "xxxxx",
    "mirth_username": "xxxxxxx",
    "mirth_password": "xxxxxxxxx"
}
