["Chitipa",
"Karonga",
"Rumphi",
"Mzimba",
"Nkhatabay",
"Nkhotakota",
"Salima",
"Kasungu",
"Lilongwe",
"Mchinji",
"Dedza",
"Ntcheu",
"Dowa",
"Ntchisi",
"Balaka",
"Neno",
"Zomba",
"Blantyre",
"Mwanza",
"Nsanje",
"Chikwawa",
"Thyolo",
"Mulanje",
"Machinga",
"Mangochi",
"Likoma",
"Chiradzulu",
"Phalombe",
"Lilongwe City",
"Blantyre City",
"Mzuzu City"]

