["Lifeline Health Center",
"Kamuzu (KCH) Central Hospital",
"Kasungu District Hospital",
"Nkhotakota District Hospital",
"Salima District Hospital",
"Khombedza Health Center",
"Chipoka Health Center",
"Lifuwu Health Center",
"Matiki Health Center",
"Madisi Hospital",
"Chulu Health Center",
"Mponela Hospital",
"Zomba Central Hospital Tisungane clinic",
"St Lukes Hospital",
"Machinga District Hospital",
"Ntaja Health Centre",
"Mangochi District Hospital",
"Phalombe District Hospital",
"Chikweo Health Centre",
"Monkey Bay Rural Hospital",
"Nayuchi Health Centre",
"Mafco Health Center",
"Nainunje Health Centre",
"Namanja Health Centre",
"Nyambi Health Centre",
"Queen Elizabeth (QECH) Central Hospital",
"Ministry of Health N/A",
"A25 BLM Dispensary",
"ABC Health Center",
"Admarc Dispensary",
"Adventist Health Center",
"Alinafe Rehab Centre",
"Area 18 Health Center",
"Area 25 Health Center",
"Asalam Health Centre",
"Atupele Hospital ",
"Balaka District Hospital",
"Balaka OPD Health Centre",
"Bangwe Health Center",
"Bembeke Health Center",
"Benga Health Center",
"Bilal Clinic",
"Bilira Health Center",
"Bimbi Health Centre",
"Biriwiri Health Center",
"Bolero Health Center",
"Bondo Health Centre",
"Bowe Health Center",
"BT Civic Centre Dispensary",
"Bua (Kasungu) Dispensary",
"Bua (Nkhotakota) Dispensary",
"Bula Health Center",
"Bulala Health Center",
"Bvumbwe Research Health Center",
"Bvumbwe - Makungwa Health Center",
"Bwanje Health Center",
"Bwengu Health Center",
"Chabvala Health Center",
"Chadza Health Center",
"Chakhaza Health Center",
"Chamba (Machinga) Dispensary",
"Chamba (Zomba) Dispensary",
"Chambe Health Centre",
"Chambo Health Center",
"Chamwabvi Dispensary",
"Changambika Health Center",
"Changata Health Center",
"Chankhungu Health Center",
"Chapananga Health Center",
"Chesamu Health Center",
"Chezi Dispensary",
"Chididi (Nkhotakota) Health Center",
"Chididi (Nsanje) Health Center",
"Chifunga Health Center",
"Chigodi Health Center",
"Chikande Health Center",
"Chikangawa Health Center",
"Chikole Dispensary",
"Chikowa (Blantyre) Health Center",
"Chikowa (Lilongwe) Health Center",
"Chikuse Health Center",
"Chikwawa District Hospital",
"Chikwina Health Center",
"Chilambwe Health Center",
"Chileka Health Center",
"Chileka (Lilongwe) Health Center",
"Chileka SDA Health Center",
"Chilipa (Mangochi) Health Centre",
"Chilipa (Zomba) Health Centre",
"Chilobwe Majiga Health Center",
"Chilomoni Health Center",
"Chilumba Garr Dispensary",
"Chilumba Rural Hospital",
"Chimaliro Health Center",
"Chimbalanga Health Center",
"Chimembe Health Center",
"Chimoto Health Center",
"Chimvu Health Center",
"Chimwala Dispensary",
"Chingale Health Centre",
"Chingazi Health Center",
"Chingoma Dispensary",
"Chinguluwe (Ntchisi) Health Center",
"Chinguluwe (Salima) Health Center",
"Chinkhwiri Health Center",
"Chinsapo Dispensary",
"Chintheche Hospital Hospital",
"Chinthembwe Health Center",
"Chinyama Health Centre",
"Chiole Dispensary",
"Chioshya Health Center",
"Chipho Health Center",
"Chipini Health Centre",
"Chiponde Health Centre",
"Chipumi Health Center",
"Chipwaila Health Center",
"Chipwanya Health Center",
"Chiradzulu District Hospital",
"Chiringa Dispensary",
"Chiringa Maternity",
"Chisala Health Center",
"Chisepo Health Center",
"Chisinga Dispensary",
"Chisitu Health Centre",
"Chitala Health Center",
"Chitedze Health Center",
"Chitekesa Health Centre",
"Chitera Health Center",
"Chitheka Health Center",
"Chithumba Mat Dispensary",
"Chitimba Health Center",
"Chitipa District Hospital",
"Chitowo Health Center",
"Chiumbangame Health Centre",
"Chiunjiza Health Center",
"Chiwamba Health Center",
"Chiwe Health Center",
"Chiyendausiku Health Centre",
"Chizolowondo Health Center",
"Chizumulo (St Marys) Health Center",
"Choma Health Center",
"Chonde Health Centre",
"Chongoni Health Center",
"City Assembly Dispensary",
"Cobbe Hospital",
"Dedza District Hospital",
"DGM Livingstonia Hospital",
"Diamphwe Health Center",
"Dickson Health Center",
"Dolo Health Center",
"Domasi Hospital",
"Doviko Dispensary",
"Dowa District Hospital",
"Dwambazi Rural Hospital",
"Dwangwa Clinic Dispensary",
"Dwangwa Dispensary",
"Dzalanyama Health Center",
"Dzeleka Ref Camp Health Center",
"Dzenje Maternity",
"Dzenza Health Center",
"Dzindevu Health Center",
"Dziwe Health Center",
"Dzonzi-Mvai Health Center",
"Dzoole Health Center",
"Dzunje Dispensary",
"Edingeni Rural Hospital",
"Ehehleni Dispensary",
"Ekwaiweni Dispensary",
"Ekwendeni Hospital",
"Embangweni Hospital",
"Emfeni Health Center",
"Emsizini Health Center",
"Endindeni Health Center",
"Engucwini Dispensary",
"Enukweni Health Center",
"Euthini Rural Hospital",
"Falls BLM Dispensary",
"Fulirwa Health Center",
"Gaga Health Center",
"Ganya Maternity",
"Gawanani Health Centre",
"Gogode Dispensary",
"Gola Dispensary",
"Golomoti Health Center",
"Gombe Maternity",
"Gowa Health Center",
"Guilleme Health Center",
"Gumba Dispensary",
"H Parker Sharp Dispensary",
"Hallena Oakely Health Center",
"Hara Dispensary",
"Hoho Health Center",
"Iba Health Centre",
"Ifumbo Health Center",
"Iponga Health Center",
"Jalasi Health Centre",
"Jalawe Health Center",
"Jenda Health Center",
"Kabudula Rural Hospital",
"Kabuwa Health Center",
"Kabwafu Health Center",
"Katchale Health Center",
"Kafele Health Center",
"Kafukule Health Center",
"Kaigwazanga Health Center",
"Kakoma Health Center",
"Kalemba Health Center",
"Kalembo Dispensary",
"Kalikumbi Health Center",
"Kalinde Dispensary",
"Kaloga Health Center",
"Kalulu Health Center",
"Kaluluma Rural Hospital",
"Kambenje Health Centre",
"Kamboni Health Center",
"Kameme Health Center",
"Kampanje Maternity",
"Kamphata Dispensary",
"Kamsonga Health Center",
"Kamteteka Health Center",
"Kamuzu Barracks Health Center",
"Kamwe Health Center",
"Kande Health Center",
"Kandeu Dispensary",
"Kangolwa Health Center",
"Kangoma Health Center",
"Kankao Health Centre",
"Kanyama Health Center",
"Kanyezi Health Center",
"Kanyimbi Dispensary",
"Kaombe Dispensary",
"Kapanga Health Center",
"Kapelula Health Center",
"Kapenda Health Center",
"Kapeni Health Center",
"Kaphatenga Health Center",
"Kaphuka Health Center",
"Kapichira Health Center",
"Kapili Health Center",
"Kapire Health Centre",
"Kapiri Health Center",
"Kaporo Rural Hospital",
"Karonga District Hospital",
"Kaseye Health Center",
"Kasina Health Center",
"Kasinje Health Center",
"Kasinthula Dispensary",
"Kasitu Dispensary",
"Katema Health Centre",
"Katete Hospital Hospital",
"Katimbila Health Center",
"Katowo Rural Hospital",
"Katsekera Health Center",
"Katuli Health Centre",
"Kaundu Health Center",
"Kawale BLM Dispensary",
"Kawale Health Center",
"Kawamba Health Center",
"Kawinga Health Centre",
"Kayembe Health Center",
"Kazyozyo Maternity",
"Khasu Health Center",
"Khola Health Center",
"Khondowe Health Center",
"Khongoni Health Center",
"Khonjeni Health Center",
"Khosolo Health Center",
"Khuwi Health Center",
"Koche Health Centre",
"Kochilira Hospital",
"KTFT/Kasalika Dispensary",
"Kukalanga Dispensary",
"Kunenekude Health Center",
"Kwitanda Health Centre",
"Lakeview Health Center",
"Lambulira Health Centre",
"Lemwe Health Center",
"Lengwe Health Center",
"Likangala Health Centre",
"Likuni Hospital",
"Lilongwe Bottom Hospital",
"Limbe Health Center",
"Linyangwa Health Center",
"Lirangwe Health Center",
"Lisungwi Hospital",
"Liuzi Health Center",
"Liwaladzi Health Center",
"Lizulu Health Center",
"Lobi Health Center",
"Ludzi St Josephs Health Center",
"Lugola Health Centre",
"Lujeri Health Centre",
"Lulanga Health Centre",
"Lulwe Health Center",
"Lumbadzi Health Center",
"Lundu Health Center",
"Lungwena Health Centre",
"Lunjika Health Center",
"Lupembe Health Center",
"Luvwere Dispensary",
"Luwalika Health Centre",
"Luwani Health Center",
"Luwawa Health Center",
"Luwerezi Health Center",
"Luwuchi Health Center",
"Luzi Health Center",
"Lwezga Health Center",
"Mabili Health Center",
"Machinga Health Centre",
"Madede Health Center",
"Madziabango Health Center",
"Maganga Health Center",
"Magareta Health Center",
"Magomero Health Centre",
"Makanjira Health Centre",
"Makapwa Health Center",
"Makata Dispensary",
"Makhanga Health Center",
"Makhwira Health Center",
"Makiyoni Health Center",
"Makwapala Health Centre",
"Malamulo Hospital",
"Malembo Health Center",
"Malembo (Lilongwe) Health Center",
"Malidadi Health Center",
"Malingunde Health Center",
"Maloa Dispensary",
"Malombe Health Centre",
"Malomo Health Center",
"Maluwa Health Center",
"Mangamba Health Centre",
"Mangunda Health Center",
"Manjawira Maternity",
"Manyamula Health Center",
"Maonde Health Center",
"Mapanga Maternity",
"Maperera Health Center",
"Masasa Dispensary",
"Mase Health Centre",
"Masenjere Health Center",
"Matanda Dispensary",
"Matandani Health Center",
"Matapila Health Center",
"Matawale Health Centre",
"Matiya Health Centre",
"Matope Health Center",
"Matuli Dispensary",
"Matumba Health Center",
"Mauwa Health Center",
"Mayaka Health Centre",
"Mayani Health Center",
"Mbabvi Health Center",
"Mbalachanda Health Center",
"Mbalanguzi Dispensary",
"Mbangombe 1 Health Center",
"Mbangombe 2 Health Center",
"Mbenje Health Center",
"Mbera Health Centre",
"Mbingwa Health Center",
"Mbiza Health Centre",
"Mbonechera Health Centre",
"Mbulumbudzi Health Center",
"Mbwatalika Health Center",
"Mchacha Dispensary",
"Mchinji District Hospital",
"Mchoka Health Center",
"Mdeka Health Center",
"Mdeza Dispensary",
"Mfera Health Center",
"Mganja Maternity",
"Mhalaunda Health Center",
"Mhuju Hospital",
"Migowi Health Centre",
"Mikolongwe Health Center",
"Mikondo Health Center",
"Mikundi Health Center",
"Milepa Health Center",
"Milonde Health Centre",
"Mimosa Dispensary",
"Mingongo Health Center",
"Misamvu Dispensary",
"Misomali Health Center",
"Misuku Health Center",
"Mitundu Hospital",
"Mjini Dispensary",
"Mkanda Health Center",
"Mkango Dispensary",
"Mkhota Health Center",
"Mkhuzi Health Center",
"Mkhwayi Health Centre",
"Mkoma Health Center",
"Mkumaniza Health Center",
"Mkumba Health Centre",
"Mkwepere Health Centre",
"Mlale Hospital",
"Mlambe Hospital",
"Mlanda Health Center",
"Mlangali Dispensary",
"Mlangeni Health Center",
"Mlangeni Police Health Center",
"Mlodza SDA Dispensary",
"Mlolo Dispensary",
"Mlomba Health Centre",
"Mlowe Health Center",
"Mmambo Health Centre",
"Mpala Health Centre",
"Mpamantha Dispensary",
"Mpamba Health Center",
"Mpasa Health Centre",
"Mpata Health Center",
"Mpemba Health Center",
"Mphathi Health Center",
"Mphepozinai Dispensary",
"Mpherembe Health Center",
"Mpherere Health Center",
"Mphopha Health Center",
"Mphunzi Health Center",
"Mpiri Health Centre",
"Mpondas Health Centre",
"Mposa Health Centre",
"Msakambewa Health Center",
"Msenjere Health Center",
"Msese Health Center",
"Mtakataka Health Center",
"Mtakataka Police Health Center",
"Mtende Health Center",
"Mtendere Health Center",
"Mtengowanthenga Hospital",
"Mtenthera Health Center",
"Mtimabii Health Centre",
"Mtonda Health Center",
"Mtosa Health Center",
"Mtunthama Health Center",
"Mtwalo Health Center",
"Mua Hospital Health Center",
"Mulanje District Hospital",
"Mulanje Mission Hospital",
"Mulibwanji Hospital",
"Mulomba Health Centre",
"Muloza Health Centre",
"Muluma Dispensary",
"City Clinic",
"Mvera Army Camp Hospital",
"Mvera Mission Health Center",
"Mwanga Health Centre",
"Mwangala Health Center",
"Mwansambo Health Center",
"Mwanza District Hospital",
"Mwazisi Health Center",
"Mzalangwe Health Center",
"Mzambazi Rural Hospital",
"Mzandu Health Center",
"Mzenga Health Center",
"Mzimba District Hospital",
"Mzokoto Health Center",
"Mzuzu Urban Health Center",
"Nakalazi Health Center",
"Nalunga Mafika Health Center",
"Namadzi Health Center",
"Namalaka Health Centre",
"Namandanje Health Centre",
"Namanolo Health Centre",
"Namasalima (Mulanje) Health Centre",
"Namasalima (Zomba) Health Centre",
"Nambazo Health Centre",
"Mulungu Alinafe",
"Nambuma Health Center",
"Namikango Health Centre",
"Namikoko Dispensary",
"Namisu Dispensary",
"Namitambo Health Center",
"Namizana Health Center",
"Namphungo Health Centre",
"Namulenga Health Center",
"Namwera Health Centre",
"Nancholi Dispensary",
"Nangalamu Health Centre",
"Nankhwali Health Centre",
"Nankumba Health Centre",
"Naphimba Health Centre",
"Nasawa Health Centre",
"Nathenje Health Center",
"Ndakwela Health Center",
"Ndamera Health Center",
"Ndaula Health Center",
"Ndinda Dispensary",
"Ndirande Health Center",
"Ndunde Health Center",
"Neno District Hospital",
"Neno Parish Health Center",
"New Statehouse Dispensary",
"Newa / Mpasazi Health Center",
"Ngabu Rural Hospital",
"Ngala Health Center",
"Ngana Health Center",
"Ngapani Health Centre",
"Ngodzi Health Center",
"Ngokwe Health Centre",
"Ngonga Health Center",
"Ngoni Health Center",
"Nguludi Hospital",
"Ngwelero Health Centre",
"Njuyu Health Center",
"Nkalo Health Center",
"Nkasala Health Centre",
"Nkhamenya Hospital",
"Nkhande Dispensary",
"Nkhata Bay District Hospital",
"Nkhataombere Health Center",
"Nkhoma Hospital",
"Nkhorongo Health Center",
"Nkhulambe Health Centre",
"Nkhunga Health Center",
"Nkhuyukuyu Health Center",
"Nkhwazi Health Center",
"Nkope Health Centre",
"Nkula Health Center",
"Nsabwe Health Center",
"Nsambe Sda Health Center",
"Nsanama Health Centre",
"Nsanje District Hospital",
"Nsaru Health Center",
"Nsipe Health Center",
"Nsiyaludzu Health Center",
"Ntcheu District Hospital",
"Ntchisi District Hospital",
"Nthalire Health Center",
"Nthenje Dispensary",
"Nthondo (Lilongwe) Health Center",
"Nthondo (Ntchisi) Health Center",
"Nthungwa Health Center",
"Nyamithuthu Health Center",
"Nyungwe Health Center",
"Nzama Health Center",
"Ofesi Dispensary",
"Old Maula Court Health Center",
"Phalombe Mission Hospital",
"Phalula Health Centre",
"Phimbi Health Centre",
"Phirilongwe Health Centre",
"Phokera Dispensary Health Center",
"PIM Health Center",
"Pirimiti Health Centre",
"Police Area 30 Dispensary",
"Police College Dispensary",
"Police Hospital",
"Raiply Dispensary",
"Ruarwe Dispensary",
"Rumphi District Hospital",
"Sangilo Health Center",
"Sankhulani Health Center",
"Santhe Health Center",
"Senga Bay Baptist Dispensary",
"Senzani Health Center",
"Sharpevale Maternity",
"Simlemba Health Center",
"Sinyala Health Centre",
"Sister Teleza Health Center",
"Soche Dispensary",
"Soche Health Center",
"Sorgin Health Center",
"South Lunzu Health Center",
"St Annes Health Center",
"St Annes Hospital",
"St Gabriels Hospital",
"St Johns Mzuzu Hospital",
"St Johns of God Mental Hospital",
"St Josephs Mitengo Health Center",
"Sr. Marthas Health Centre",
"St Martin Hospital",
"Malukula Health Centre",
"St Martins Molere Health Center",
"St Montfort Rural Hospital",
"St Patricks Health Center",
"St Peters Hospital",
"State House Dispensary",
"Sucoma Health Center",
"Sukasanje Health Centre",
"Tcharo Dispensary",
"Tembwe Health Center",
"Tengani Health Center",
"Thambani Health Center",
"Thavite Health Center",
"Thekerani Rural Hospital",
"Thembe Dispensary",
"Thomas Health Center",
"Thondwe Dispensary",
"Thonje Health Center",
"Thuchila Health Centre",
"Thumbwe Health Center",
"Thunduwike Health Center",
"Thyolo District Hospital",
"Trinity - Fatima Hospital",
"Tsangano Dispensary",
"Tsoyo Health Center",
"Tulonkhondo Health Center",
"Ukwe Health Center",
"Ulongwe Health Centre",
"Usisya Health Center",
"Utale 1 Health Centre",
"Utale 2 Health Centre",
"Vibangalala Dispensary",
"Wenya Health Center",
"Wiliro Health Center",
"Wimbe Health Center",
"Zingwangwa Health Center",
"Zoa Dispensary",
"Zoa Health Center",
"Zomba Forestry Dispensary",
"Zomba Mental Hospital",
"Zomba Prison Dispensary",
"Kasoba Health Center",
"Mlare Health Center",
"Kachere Health Center",
"Lwazi Dispensary",
"Chitsimuka Health Center",
"Lura Health Center",
"Vibangalala Dispensary",
"Bwaila Hospital",
"GOGODE H/C",
"KDH",
"LODJWA HEALTH CENTRE",
"Kasese Health Center",
"LIFELINE MALAWI",
"MTAKATAKA H/C",
"Chioli Health Center",
"Ntholowa Health Centre",
"Daeyang st luke",
"CHAGUNDA H/C",
"CHILOBWE HEALTH CENTER",
"Lighthouse",
"Partners in Hope",
"Nandumbo Health Centre",
"Chilonga Health Centre",
"Kadango Dispensary",
"Malombe Dispensary",
"Chiunda Health Centre",
"Mkomaula Health Centre",
"Naisi Health Centre",
"Machinjiri Health Centre",
"Sadzi Health Centre",
"Zilindo Health Centre",
"Namadidi Health Centre",
"Chisi Health Centre",
"Mwandama Health Centre",
"Changalume Barracks",
"Maera Health Centre"]
